.game-container {
  max-width: 700px;
  margin: 30px;
  padding: 20px 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  }

.game-history-container {
  display: flex;
  max-width: 260px;
  flex-wrap: wrap;
  gap: 4px;
  margin-left: 6px;
  align-items: center;
  list-style: none;
}

.game-info {
  display: flex;
  align-items: center;
}

.history-button {
  background-color: #2196F3;
  color: white;
  border: none 1px #2196F3;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 20px;
}

.history-button:hover {
  background: #0690fa;
  transform: scale(1.02);
}

